/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

img{
	width: 1560;
	height: 750;
}

h1{
	font-family: futur;
	color: #a0dab3;
	font-weight: 600;
	font-size: 1.875rem;
}

